* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.left {
  width: 40%;
  height: 100%;
  background-color: red;
}
