* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #090909;
}
.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav .nav-part2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.main h1 {
  width: 70%;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120px;
  /* background-color: red; */
  /* margin-top: 50px; */
  margin-left: 15%;
}

.main h1:nth-child(2) {
  margin-top: 100px;
}
.main h1:nth-child(3) {
  text-align: center;
}
.main h1:nth-child(4) {
  text-align: center;
}
