* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
}
.main .nav {
  width: 100%;
  height: 12vh;
  margin-top: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .nav h1 {
  width: 20%;
  height: 100%;
  font-family: monument;
  font-size: 45px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .nav h2 {
  width: 20%;
  height: 100%;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #000;
}
.main .nav h2:nth-last-child(1) {
  width: 10%;
}
.main .nav h2:nth-last-child(2) {
  width: 29%;
}

.center {
  height: 90%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding: 3vw 4vw;
}

.center .content {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}

.center .content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.center .overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.154);
  backdrop-filter: blur(1px);
}

.center .over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.center .over1 h1 {
  font-family: monument;
  font-size: 3.6vw;
  /* font-weight: 100; */
}

.center .over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  /* background-color: blue; */
  border-radius: 50%;
  /* font-weight: 100; */
  border: 1px solid #fff;
  /* border-bottom: 5px solid #fff; */
}

.center .over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}

.center .over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

.center .over2 img {
  height: 3vw;
}
.scroll {
  width: 100%;
  height: 40vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.scroll .container {
  width: 110%;
  height: 100%;
  display: inline-block;
  padding: 2vw;
  animation-name: anime;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.scroll .container img {
  height: 95%;
  border-radius: 50%;
  width: 15%;
  margin: 1vw;
  object-fit: cover;
  object-position: 30% 30%;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.alphabet {
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.alphabet h5 {
  font-size: 1.7vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000000;
  margin-right: 2vw;
}

.alphabet h6 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  /* background-color: rgb(251, 255, 0); */
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #00000000;
  transition: all ease 0.2s;
}

.alphabet h6:hover {
  border: 1px solid #000;
}
