* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-between;
  width: 300px;
  height: 300px;
  background-color: rosybrown;
}

.one {
  width: 50px;
  height: 50px;
  background-color: burlywood;
}

.two {
  width: 50px;
  height: 50px;
  background-color: coral;
}
.three {
  width: 50px;
  height: 50px;
  background-color: crimson;
}
