* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

p {
  /* display: inline; */
  display: inline-block;
  width: 300px;
  height: 200px;
  background-color: red;
}
a {
  display: block;
}
.car1 {
  width: 200px;
  height: 150px;
  background-color: purple;
}
.car2 {
  /* position: absolute; */
  /* top: 10%; */
  /* left: 40%; */
  width: 170px;
  height: 120px;
  background-color: rgb(34, 131, 155);
}
.car3 {
  /* position: absolute; */
  /* left: 30%; */
  width: 240px;
  height: 80px;
  background-color: rgb(11, 128, 0);
}
