* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

p {
  /* display: inline; */
  display: inline-block;
  width: 300px;
  height: 200px;
  background-color: red;
}
a {
  display: block;
}
