* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(80, 207, 229);
}
.page2 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(114, 217, 235);
}
.page3 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(80, 182, 229);
}
