* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}
/* .box {
  width: 200px;
  height: 200px;
  background-color: pink;
} */

.box1 {
  width: 200px;
  height: 200px;
  background-color: crimson;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: palevioletred;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: saddlebrown;
}
