* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.capsule {
  width: 600px;
  height: 30px;
  background-color: aliceblue;
  border: 2px solid grey;
  border-radius: 100px;
  padding: 1vw 0;
  margin: 2vw 0;
  position: relative;
  overflow: hidden;
}
.capsule .range {
  width: 100px;
  position: absolute;
  top: 0px;
  object-fit: cover;
  background-color: red;
  height: 100%;
  padding: 1vw 0;
}
