* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.tabs {
  width: 50%;
  border: 2px solid grey;
}
.tabs .tab-btn {
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding: 1vw 0;
  border: 2px solid grey;
}

.tabs .tab-btn button {
  width: 40%;
  padding: 1vw;
}
.tabs .tab-box {
  padding: 1vw;
}
.tabs .tab-box h2 {
  font-size: 20px;
  padding: 2vw 0;
}
.hide {
  display: none;
}
